body{
    background-color: #5998ebeb;
    color: black;
    text-align: center;
}
img {
    width: 50%; /* Diminui para metade da largura do container */
    height: auto; /* Mantém a proporção */
  }
   